<b>Hello {{ username }}!</b>

{{ emoji.gear }} I'm a Telegram bot that helps connect with support or channel administrators.

You may text me as if I were a human. I will be back as soon as any of the support/admin team answers.