{{ emoji.horn }} <b>New user connected!</b>

{{ emoji.elf }} Username: {{ message.from_user.username }}
{{ emoji.gear }} ID: {{ message.from_user.id }}

<i>This message sent automatically when any user sends /start command to the bot.</i>